DATABASE_HANA_DSN=sqlserver://username:password@host:1433?database=dbname
DATABASE_PG_DSN=postgresql://mdss:12345@holidayPEA:5432?database=mdss-master-data-scheduler-be-main
KAFKA_BROKERS=host1:9095,host2:9095,host3:9095
KAFKA_VERSION=3.7.2
KAFKA_CLIENT_ID=meter-recalculation-consumer
KAFKA_NET_SASL_ENABLE=true
KAFKA_NET_SASL_USERNAME=
KAFKA_NET_SASL_PASSWORD=
KAFKA_NET_SASL_MECHANISM=PLAIN
KAFKA_NET_TLS_ENABLE=true
KAFKA_NET_TLS_CA_PATH=certs/ca-cert
KAFKA_PRODUCER_TOPIC_METER_RECALCULATION_RAW=meter.recalculation.raw
REDIS_MASTER_NAME=mymaster
REDIS_ADDRESSES=host1:26379,host2:26379,host3:26379
REDIS_PASSWORD=
REDIS_DB=8
REDIS_PREFIX=meterdata
